* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('images/background.webp') no-repeat center center fixed; /* Background image */
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 80%; /* Set the width to 80% of the viewport */
    max-width: 1200px; /* Maximum width to limit on larger screens */
    background: rgba(26, 26, 26, 0.9); /* Semi-transparent background */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.profile-section {
    margin-bottom: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #aaa;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #858ffe; /* Plain lavender color */
    color: white;
    text-decoration: none;
    margin: 15px 0;
    padding: 15px 25px;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.links a:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
}
